<h1>Vue d'un booking////NOT FINISHED YET</h1>
<div class="container">
<%if policy(@booking).show? %>
  <% @bookings.each do |booking| %>
    <%= booking.user.first_name %>
    <%= booking.event.start_time %>
    <%= booking.event.end_time %>
    <%= booking.event.address %>
    <%= booking.event.name %>
    <% end %>
  <% end %> 


