<div class="col-5">

  <div class="bg-white card-product-map shadow-tribu w-auto d-flex flex-column">
    <div class="card-img">
      <div class="">
        <div style="width: 100%; height: 40vh;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

    <div class="card-product-infos-bottom p-3">
      <div class="date text-white">
        <p> Du <%= @event.start_time.strftime("%d / %m") %>  au  <%= @event.end_time.strftime("%d / %m") %></p>
      </div>
    <div>

    <div class="card-product-infos-address d-flex fs-6 justify-content-between pt-4 text-white">
      <div class="address text-white mb-2 px-2 py-1 rounded-3"><strong><%= @event.address %></strong></div><div> <%= @event.phone_number %></div>
      <%# if @event.number_of_participants.present? %>
          <%# <p>Nombre de participants : <%= @event.number_of_participants %>
      <%# end %>
    </div>
    <% unless current_user&.id == @event.user_id %>
    <%= link_to "Reservez cette activité", event_bookings_path(@event), data: {turbo_method: :post }, class: "border-0 d-flex mt-4 justify-content-center me-5 ms-5 py-2 reservation-btn text-decoration-none" %>
    <% end %>
  </div>
</div>
