<div class="container mb-6 mt-5">
    <h3 class="mb-5 mt-5 text-cards-home"> Evènements locaux à la carte </h2>
  <div class="col-sm-12 d-flex justify-content-around mb-3">
    <% @last_events.each do |event| %>
      <%= link_to event_path(event), class: "bg-white card-home card-home-border m-2 mb-5 p-3 shadow-tribu", style: "width: 18rem;" do %>
        <div class="d-block mb-3 mx-auto photo rounded text-center" >
          <% if event.photo.present? %>
            <%= cl_image_tag event.photo.key, height: 150, crop: :fill, class: "w-100 align-self-center rounded", style: "object-fit: cover;"%>
          <% end %>
        </div>
        <div class="py-3">
          <p class="text-black"><%= event.name %></p>
          <p class="mb-3 text-black-50"><%= event.address %></p>
        </div>
          <% event.category.each do |category| %>
              <p class="badge m-1 tag-category"><%= category %></p>
            <% end %>
      <% end %>
    <% end %>
  </div>
</div>


