
  <div class="col-7">
    <div class="card-product-infos shadow-sm p-3 bg-white">
      <div class="photo text-center rounded mx-auto d-block" >
        <% if @event.photo.present? %>
            <%= cl_image_tag @event.photo.key, class: "align-self-center pb-2 rounded w-100", style: "height: 50vh; object-fit: cover;"%>
        <% end %>
      </div>
        <div class="card-title">
          <% if @event.user.present? %>
            <h4 class="fs-6 text-black-50 text-center"><%= @event.user.first_name%> vous propose :</h4>
            <% else %>
              <h4 class="fs-6 text-black-50 text-center"><%= @event.address %> vous propose :</h4>
          <% end %>
            <h3 class="text-center"><%= @event.name %></h3>
        </div>
      <div class="align-items-center card-product-infos-top d-flex justify-content-between">
          <%# if @event.user %>
              <%# <img src="https://res.cloudinary.com/dgw2zajw1/image/upload/v1654250533/noun-lock-821927_xdlair.png"> %>
            <%# else %>
              <%# <img src="https://res.cloudinary.com/dgw2zajw1/image/upload/v1654250416/noun-public-4612037_oix7hj.png"> %>
          <%# end %>
          <div class="price-category">
          <% if @event.price.eql? 0 %>
            <span class="badge m-1 tag-price">gratuit</span>
            <% else %>
            <span class="badge m-1 tag-price" ><%= @event.price %>€</span>
          <% end %>
            <% @event.category.each do |category| %>
              <p class="badge tag-category m-1"><%= category %></p>
            <% end %>
          </div>
          <div class="note">
            Note : <% (@event.id.to_i.modulo(5) + 1).times do %>
            <i class="fa-solid fa-star"></i>
            <% end %>
            <% (5 - (@event.id.to_i.modulo(5) + 1)).times do %>
            <i class="fa-regular fa-star"></i>
            <% end %>
          </div>
      </div>
      <div class="mt-2 d-flex justify-content-end" style="color:#AB9DFF">
        Partager : &nbsp; <%=social_share_button_tag(@event.name) %>
      </div>
      <div class="border-top description mt-4 pt-4 text-black-50 text-center ">
        <%= @event.description %>

      </div>

    </div>
  </div>
