<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-tribu">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
    <div class="logo">
      <%= image_tag "https://res.cloudinary.com/dgw2zajw1/image/upload/v1654696610/noun-viking-4509152_1_dgueon.png" %>
      <p class="logo-tribu ms-3 mt-2">Tribu</p>
    </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Ajoutez votre évènement", new_event_path, class: "nav-link", class:"text-link" %>
          </li>
          <li class="nav-item dropdown">
            <h2 class="m-2 p-2 pe-auto rounded-circle" role='button' id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><%= current_user.first_name.first + current_user.last_name.first%></h2>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Chercher un évent", events_path, class: "dropdown-item" %>
              <%= link_to "My Dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Ajoutez votre évènement", new_event_path, class: "nav-link", class:"text-link" %>
            <%= link_to "Log in", new_user_session_path, class: "nav-link", class:"btn-link", class:"px-4 py-1 fs-5 font-weight-bold radius-btn-square bg-purple border-0 text-light text-decoration-none" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
