
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-11">
      <div class="card-form form-query mb-4 mt-4 pt-1 text-center" id="address_index">
        <p class="title-index heading m-3 text-center">Trouvez le prochain évènement local près de vous </p>
        <div class="d-flex justify-content-center">
          <%= simple_form_for :query, url: events_path, method: :get, html: { class: 'd-flex flex-wrap justify-content-between mt-3 p-2 query simple_form w-100' } do |f| %>
            <div class="w-50 tag-item mb-0 p-1">
              <div class="m-0 p-0">
                <%= f.input :categories,
                  as: :check_boxes,
                  collection: ["brocante-vide-grenier", "fete", "marche", "repas-degustation", "musique", "exposition", "balades-visites", "nature-environnement", "sport", "entraide", "arts", "plantes-potager"],
                  input_html: { class: "tag-selector" }, wrapper_html: { class: "justify-content-center w-100 d-flex flex-wrap" } %>
              </div>
            </div>
            <div class="search-align w-50 d-flex flex-column ps-3">
              <div class="pb-2 w-100">
                <%= f.input :city, label: false, input_html: { data: {address_home_autocomplete_target: "city", value: (params[:query][:city] if params[:query])}, class: 'd-none' },
                wrapper_html: { data: { controller: "address-home-autocomplete", address_home_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]} } %>
              </div>
              <div class="w-100 d-flex">
                <%= f.input :start_date, as: :date, html5: true, placeholder: '01-06-2022', label: false,
                            input_html: { class: 'bg-white border-0 date form-control form-select mx-1 mx-2 required rounded shadow-tribu text-black-50 w-100', value: (params[:query][:start_date] if params[:query])},
                            wrapper_html: { class: 'mb-0-important w-100' } %>
                <%= f.input :end_date,  as: :date, html5: true, placeholder: '01-07-2022', label: false,
                            input_html: { class: 'bg-white border-0 date form-control form-select mx-1 mx-2 required rounded shadow-tribu text-black-50 w-100', value: (params[:query][:end_date] if params[:query])},
                            wrapper_html: { class: 'mb-0-important w-100' } %>
              </div>
            </div>
              <div class="d-flex justify-content-center w-100">
                <button class="bg-purple border-0 btn-square-md mb-3 px-3 py-1 rounded-3 text-white"><p class="rechercher-btn">Rechercher</p></button>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!----><!---->
<div class="me-3 ms-5 mb-5">
  <div class="d-flex justify-content-between mt-5">
    <div class="col-8 d-flex justify-content-between row" id="events-container">
      <% @events.each do |event|%>
        <%= link_to event_path(event), class: "card-home shadow-lg p-3 mb-3 bg-white" do %>
          <div class="d-block mb-3 mx-auto photo rounded text-center" >
            <% if event.photo.present? %>
              <%= cl_image_tag event.photo.key, height: 150, class: "w-100 align-self-center rounded", style: "object-fit: cover;"%>
            <% end %>
          </div>

          <div class="card-info d-flex justify-content-between align-items-start">
            <div class="py-3">
              <p class="text-black"><%= event.name %></p>
              <p class="mb-3 text-black-50"><%= event.address %></p>
            </div>
            <div class="d-grid infos mt-">
              <% event.category.each do |category| %>
                <p class="badge m-1 tag-category"><%= category %></p>
              <% end %>
              <% if event.price.eql? 0 %>
                <span class="badge m-1 tag-price">gratuit</span>
                <% else %>
                <span class="badge m-1 tag-price" ><%= event.price %>€</span>
              <% end %>
            </div>
          </div>

          <div class="d-flex date-adress-phone justify-content-lg-between text-black-50">
            <div class="date-index">
              <p>Du <%= event.start_at.strftime("%d / %m") %></p>
              <p>au <%= event.end_at.strftime("%d / %m") %></p>
            </div>
            <div class="ms-5">
                <h6>  <strong></strong><%= event.phone_number %></h6>
                <% (event.id.to_i.modulo(5) + 1).times do %>
              <i class="fa-solid fa-star"></i>
              <% end %>
              <% (5 - (event.id.to_i.modulo(5) + 1)).times do %>
              <i class="fa-regular fa-star"></i>
              <% end %>
            </div>
          <div class="public-prive">
          <% if event.user %>
              <img src="https://res.cloudinary.com/dgw2zajw1/image/upload/v1654250533/noun-lock-821927_xdlair.png" >
            <% else %>
              <img src="https://res.cloudinary.com/dgw2zajw1/image/upload/v1654250416/noun-public-4612037_oix7hj.png" >
          <% end %>
          </div>
          </div>
          <div class="border-top description mt-4 pt-4 text-black-50 text-center ">
            <%= event.description %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-4 mapindex">
      <div style="width: 100%; height: 800px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>
</div>
