
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card-form mt-4 mb-4 p-4 form-query">
        <h3 class="heading m-3 text-center">Trouvez le prochain évènement local près de vous </h3>
        <div class="d-flex justify-content-center px-5">
          <%= simple_form_for :query, url: events_path, method: :get, html: { class: 'd-flex flex-wrap p-2 query justify-content-between' } do |f| %>
            <div class="checkbox tag-selector justify-content-center w-100 d-flex space-between mr-1">
              <%= f.input :categories, as: :check_boxes, :collection => ["brocante-vide-grenier", "fete", "marche", "repas-degustation", "musique", "exposition"] %>
            </div>
            <div class="w-50 pe-4">
              <%= f.input :city, placeholder: 'ville, commune, code postal...', label: false,
                          input_html: { class: 'bg-white border-0 rounded-pill form-control mx-2 w-100', value: (params[:query][:city] if params[:query])},
                          wrapper_html: { class: 'mb-0-important w-100' } %>
            </div>
            <div class="w-50 d-flex">
              <%= f.input :start_date, as: :date, html5: true, placeholder: '01-01-2022', label: false,
                          input_html: { class: 'bg-white border-0 rounded-pill form-control mx-2 w-100', value: (params[:query][:start_date] if params[:query])},
                          wrapper_html: { class: 'mb-0-important w-100' } %>
              <%= f.input :end_date,  as: :date, html5: true, placeholder: '01-02-2022', label: false,
                          input_html: { class: 'bg-white border-0 rounded-pill form-control mx-2 w-100', value: (params[:query][:end_date] if params[:query])},
                          wrapper_html: { class: 'mb-0-important w-100' } %>
              <button class="px-4 py-2 text-white rounded-pill bg-saumon border-0"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex align-items-center flex-wrap justify-content-center">
  <% @events.each do |event|%>
    <div class="p-3 m-3 w-25 border rounded">
        <div class="photo mb-3 mt-5 text-center rounded mx-auto d-block" >
            <% if event.photo.present? %>
            <%= cl_image_tag event.photo.key, height: 150, width: 200, crop: :fill, class: "align-self-center rounded"%>
                <% end %>
          </div>
    <p><%= link_to event.name, event_path(event) %><br>
    <%= event.description %></p>
    <p>Du <%= event.start_at %>
    au <%= event.end_at %></p>
    <%# Organisée par : <%= event.user.first_name %>
    </div>
  <% end %>
</div>

<%= link_to "New event", new_event_path if policy(Event).new? %>
