
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card-form mt-4 mb-4 p-4 form-query text-center" id="address_index">
        <h3 class="heading m-3 text-center">Trouvez le prochain évènement local près de vous </h3>
        <h5 class="filtre">Filter par type </h5>
        <div class="d-flex justify-content-center px-5">
          <%= simple_form_for :query, url: events_path, method: :get, html: { class: 'd-flex flex-wrap p-2 query justify-content-between' } do |f| %>
            <div class="tag-item mb-0 p-1">

              <div class="checkboxpublic justify-content-center w-100 d-flex m-0 p-0">
                <%= f.input :categories,
                  as: :check_boxes,
                  collection: ["brocante-vide-grenier", "fete", "marche", "repas-degustation", "musique", "exposition"],
                  input_html: { class: "tag-selector" } %>
              </div>

              <div class="checkboxprive justify-content-center w-100 d-flex m-0 p-0">
                <%= f.input :categories_private,
                  as: :check_boxes,
                  collection:["balades-visites", "nature-environnement", "sport", "entraide", "arts", "plantes-potager"],
                  input_html: { class: "tag-selector" } %>
              </div>
            </div>

        <div class="search-align w-100 d-flex justify-content-evenly">
              <div class="w-50 pe-4">
                <%= f.input :city, label: false, input_html: { data: {address_home_autocomplete_target: "city", value: (params[:query][:city] if params[:query])}, class: 'd-none' },
                wrapper_html: { data: { controller: "address-home-autocomplete", address_home_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]} } %>
              </div>
              <div class="w-50 d-flex">
                <%= f.input :start_date, as: :date, html5: true, placeholder: '01-06-2022', label: false,
                            input_html: { class: 'bg-white border-0 shadow-sm rounded form-control mx-2 w-100', value: (params[:query][:start_date] if params[:query])},
                            wrapper_html: { class: 'mb-0-important w-100' } %>
                <%= f.input :end_date,  as: :date, html5: true, placeholder: '01-07-2022', label: false,
                            input_html: { class: 'bg-white border-0 shadow-sm rounded form-control mx-2 w-100', value: (params[:query][:end_date] if params[:query])},
                            wrapper_html: { class: 'mb-0-important w-100' } %>
                <button class="px-3 py-1 text-white btn-square-md bg-purple border-0 mb-3"><i class="fa-solid fa-angles-right"></i></button>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!----><!---->
<div class="me-3 ms-5">
  <div class="d-flex justify-content-between mt-5">
    <div class="col-8 d-flex justify-content-between row" id="events-container">
      <% @events.each do |event|%>
        <%= link_to event_path(event), class: "card-home shadow-lg p-3 mb-3 bg-white" do %>
          <div class="d-block mb-3 mx-auto photo rounded text-center" >
            <% if event.photo.present? %>
              <%= cl_image_tag event.photo.key, height: 150, crop: :fill, class: "w-100 align-self-center rounded", style: "object-fit: cover;"%>
            <% end %>
          </div>

          <div class="card-info d-flex justify-content-between">
            <div class="py-3">
              <p class="text-black"><%= event.name %></p>
              <p class="mb-3 text-black-50"><%= event.address %></p>
            </div>
            <div class="d-grid infos mt-5">
              <% event.category.each do |category| %>
                <p class="badge m-1 tag-category"><%= category %></p>
              <% end %>
              <% if event.price.eql? 0 %>
                <span class="badge m-1 tag-price">gratuit</span>
                <% else %>
                <span class="badge m-1 tag-price" ><%= event.price %>€</span>
              <% end %>
            </div>
          </div>

          <div class="d-flex date-adress-phone justify-content-md-start text-black-50">
            <div class="date">
              <p>Du <%= event.start_at.strftime("%d / %m") %></p>
              <p>au <%= event.end_at.strftime("%d / %m") %></p>
            </div>
            <div class="ms-5">
                <h6>  <strong>Tel : </strong><%= event.phone_number %></h6>
            </div>
          </div>
          <div class="border-top description mt-4 pt-4 text-black-50 text-center ">
            <%= event.description %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-4 mapindex">
      <div style="width: 100%; height: 100vh;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY=pk.eyJ1IjoibmluZWdhciIsImEiOiJjbDJ1ZjdycHcwMWZkM2lxd25oNWVvYmRuIn0.wwjf2AD13hqlRCo94Rg5Lw'] %>">
      </div>
    </div>
    
  </div>
</div>


<div class="text-center p-6 m-6", style="height: 150px">
  <%= link_to "Ajouter un nouvel évènement", new_event_path, class: 'boutton px-4 py-3 text-white rounded fs-4 bg-purple border-0 text-decoration-none justify-content-center text-center' if policy(Event).new? %>
</div>
