


<div class="container">
  <div class="form-event m-5 p-5 shadow-lg">
    <h1 class="mb-5 text-center titre-form">Ajoutez un nouvel évènement privé</h1>
    <%# <h6 class= "text-end text-right">Your are connected as : <%= current_user.first_name %></h6> 
        <%= simple_form_for(@event, html: {data: {controller: "flatpickr"}}) do |f| %>

        <div class="row">
          <div class="col-4">
            <%= f.input :photo, as: :file %>
          </div>
          <div class="col-4">
            <%= f.input :name %>
          </div>
          <div class="col-4" id="address-form">
            <%= f.input :address, input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
            wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <%= f.input :number_of_participants%>
          </div>
          <div class="col-4">
            <%= f.input :price %>
          </div>
          <div class="col-4">
            <%= f.input :phone_number%>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.input :category, collection: Event::LIST, as: :check_boxes, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item mt-3' %>
          </div>
        </div>
        <div class="row">
          <div class="description-form col-12">
            <%= f.input :description, placeholder: 'Description'  %>
          </div>
        </div>
        <div class="row">
          <div class="col-4 mt-3">
            <%= f.input :start_at, as: :string, required: false, input_html: { data: { "flatpickr-target": "rangeStart"} } %>
          </div>
          <div class="col-4 mt-3">
            <%= f.input :end_at, as: :string, required: false, input_html: { data: { "flatpickr-target": "rangeEnd" }} %>
          </div>
          <div class="col-4">
            <div class="text-center mt-5"><%= f.submit "#{ @event.persisted? ? 'Updater' : 'Créer' } mon evenement", class: 'bg-purple border-0 btn btn-form fs-5 px-4 py-3  text-decoration-none text-white' %></div>
          </div>
        </div>
      <% end %>
  </div>
</div>
