<div class="container">
  <div class="row justify-content-center mt-3">
    <%= render "shared/card_product_infos", event: @event %>
    <%= render "shared/card_product_map" %>
  </div>
</div>
    <% if policy(@event).edit? %>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
<% end %>
<%= button_to "Destroy this event", @event, method: :delete if policy(@event).destroy? %>
</div>
<div>
<%= link_to "Reservez cette activité", new_event_booking_path(@event) %>
