<div class = "show-container">
  <div class="container">
    <%= link_to "Retour à la recherche", events_path, class: "d-inline-block border-0 mt-4 text-center text-decoration-none text-white fs-5" %>
    <div class="row justify-content-center mb-5 mt-3 align-items-stretch" id="map-show">
      <%= render "shared/card_product_infos", event: @event %>
      <%= render "shared/card_product_map" %>
    </div>
  </div>
</div>
<%# unless current_user&.id == @event.user_id %>
  <%# <div class="mt-3 w-100">
    <%= render "bookings/form", event: @event, booking: @booking %>
  <%# </div>
<% end %>
  <div class="d-flex space-between">
  <% if policy(@event).edit? %>
    <%= link_to "Editer", edit_event_path(@event) %>|
  <% end %>

  <%#= button_to "Destroy this event", @event, data: {turbo_method: :delete} if policy(@event).destroy? %>
  <%= button_to "Supprimer", @event, method: :delete if policy(@event).destroy? %>
  <%# <%= link_to 'Dashboard', dashboard_path(current_user) %>
  </div>
