<h1>Bienvenue sur ton dashboard <%= @current_user.first_name %></h1>

<div class = "container d-flex justify-content-around">
  <div class = "tab-dashboard">
    <ul class="justify-content-around list-inline tabs-underlined nav nav-tabs">
      <li class="nav-item"> <%= link_to 'Hôte', dashboard_path(index: "host"), class:"nav-link #{ 'active' if (params[:index] == 'host' || params[:index] == nil)}" %>

      </li>
      <li class="nav-item"> <%= link_to 'Participant', dashboard_path(index: "bookings"), class:"nav-link  #{ 'active' if params[:index] == 'bookings'}"  %>

      </li>
      <li class="nav-item">
        <%= link_to 'Toutes mes activités', dashboard_path(index: "all"), class:"nav-link  #{ 'active' if params[:index] == 'all'}"  %>

      </li>
    </ul>
  </div>


  <div class = "map-display">
    <h1>MAP</h1>
  </div>
</div>
  <div>
    <% if (params[:index] == "host" || params[:index] == nil)  || params[:index] == "all"%>
      <div class="card-created-evenement">
        <% @created_events.each do |created_event| %>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="card-event d-flex">
                <div class="photo">
                  <% if created_event.photo.present? %>
                    <%= cl_image_tag created_event.photo.key, height: 150, width: 200, crop: :fill, class: "align-self-center rounded"%>
                  <% end %>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= created_event.name %></h5>
                    <p class="card-text"><%= created_event.address %></p>
                    <p class="card-text"><small class="text-muted"> Du <%= created_event.start_at %> au <%= created_event.end_at %></small></p>
                    <% created_event.bookings.where.not(status: "declined").each do |booking| %>
                      <div>
                        Demande de <%= booking.user.first_name %>
                        <% if booking.status == "en-attente" %>
                          <%= link_to 'Accepter', accept_booking_path(booking), class: "btn btn-success", method: :post %>
                          <%= link_to 'Refuser', decline_booking_path(booking), class: "btn btn-danger", method: :post %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if params[:index] == "bookings" || params[:index] == "all"%>
      <div class="card-participating-evenement">
        <% @participating_events.each do |participating_event| %>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="card-event">
                <div class="photo col-md-4">
                  <% if participating_event.photo.present? %>
                    <%= cl_image_tag participating_event.photo.key, height: 150, crop: :fill, class: "w-100 align-self-center rounded", style: "object-fit: cover;"%>
                  <% end %>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= participating_event.name %></h5>
                    <p class="card-text"><%= participating_event.address %></p>
                    <p class="card-text"><small class="text-muted"><%= participating_event.price %><%= participating_event.start_at %><%= participating_event.end_at %><%= participating_event.category %></small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<%= link_to "Toutes les activités", events_path %>

<%# console %>
