
<div class="container mx-auto">
<%= link_to events_path, class: "d-inline-block border-0 mt-4 text-center text-decoration-none text-white fs-5" do %>
    <img class="fleche-show fleche-show ms-4", src="https://res.cloudinary.com/dgw2zajw1/image/upload/v1654780145/icons8-fle%CC%80che-60_n0c3nx.png" alt="">
    <% end %>
<div class="fs-3 mb-5 text-center title-dashboard">

Alors <%= @current_user.first_name %>, qu'allez-vous découvrir aujourd'hui ?   <img src="https://res.cloudinary.com/dgw2zajw1/image/upload/v1654777807/noun-viking-4509158_lpqmuo.png" >
</div>

<div class="d-flex tabs-map-tittle">
  <div class="tabs col-6">
    <div class="row">
      <div class = "my-3 d-flex">
        <div class = "tab-dashboard">
          <ul class="justify-content-around list-inline tabs-underlined nav nav-tabs">
            <li class="nav-item"><%= link_to 'Hôte', dashboard_path(index: "host"), class:"nav-link #{ 'active' if (params[:index] == 'host' || params[:index] == nil)}" %></li>
            <li class="nav-item"><%= link_to 'Participant', dashboard_path(index: "bookings"), class:"nav-link  #{ 'active' if params[:index] == 'bookings'}"  %></li>
            <li class="nav-item"><%= link_to 'Toutes mes activités', dashboard_path(index: "all"), class:"nav-link  #{ 'active' if params[:index] == 'all'}"  %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 d-flex fs-4 justify-content-center map-titre pt-4 text-black-50">Prochains evenements
  </div>
</div>


  <div class="row">
    <div class="col-6">
      <% if (params[:index] == "host" || params[:index] == nil)  || params[:index] == "all"%>

        <div class="card-created-evenement">
          <% @created_events.each do |created_event| %>
            <%= link_to event_path(created_event), class: "" do %>
              <div class="border card-dash-created d-flex justify-content-between mb-3" style="max-width: 640px">
                  <% if created_event.photo.present? %>
                    <%= cl_image_tag created_event.photo.key, height: 150, width: 200, crop: :fill, class: "align-self-center rounded"%>
                  <% end %>
                <div class="flex-grow-1 text-content-dash">
                  <div class="ms-3 text-muted title-name-village">
                    <h5><%= created_event.name %></h5>
                    <p class="fst-italic"> <small><%= created_event.address %></small></p>
                  </div>
                  <div class="date-dash pt-2 text-center text-muted">
                    <p>Du <%= created_event.start_time.strftime("%d / %m") %> au <%= created_event.end_time.strftime("%d / %m") %><%#= participating_event.category %></p>
                  </div>
                  <div class="dash-validate">
                  <% created_event.bookings.where.not(status: "declined").each do |booking| %>
                    <div class="ms-3 text-black text-black-50">
                      Demande de <%= booking.user.first_name %>
                      <% if booking.status == "en-attente" %>
                        <%= link_to(accept_booking_path(booking), method: :post) do %>
                          <i class="fa-solid fa-check" style="color:#36C40F"></i>
                        <% end %>
                        <%= link_to(decline_booking_path(booking), method: :post) do %>
                          <i class="fa-solid fa-xmark" style="color:#FF4145"></i>
                        <% end %>
                        <%#= link_to 'Refuser', decline_booking_path(booking), class: "btn btn-danger", method: :post %>
                      <% end %>
                    </div>
                  <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if params[:index] == "bookings" || params[:index] == "all"%>
        <div class="card-created-evenement">
          <% @participating_events.each do |participating_event| %>
            <%= link_to event_path(participating_event), class: "" do %>
              <div class="border card-dash d-flex justify-content-between mb-3" style="max-width: 640px">
                  <% if participating_event.photo.present? %>
                    <%= cl_image_tag participating_event.photo.key, height: 150, width: 200, crop: :fill, class: "align-self-center rounded"%>
                  <% end %>
                <div class="flex-grow-1 text-content-dash">
                  <div class="ms-3 text-muted title-name-village">
                    <h5><%= participating_event.name %></h5>
                    <p class="fst-italic"> <small><%= participating_event.address %></small></p>
                  </div>
                  <div class="date-dash pt-3 text-center text-muted">
                    <p>Du <%= participating_event.start_time.strftime("%d / %m") %> au <%= participating_event.end_time.strftime("%d / %m") %><%#= participating_event.category %></p>
                  </div>
                  <div class="card-dash-infos d-flex justify-content-between me-2 ms-2 pt-2">
                    <div class="dash-price">
                      <% if participating_event.price.eql? 0 %>
                        <span class="badge m-1 tag-price">gratuit</span>
                        <% else %>
                        <span class="badge m-1 tag-price" ><%= participating_event.price %>€</span>
                      <% end %>
                    </div>
                    <div class="public-prive">
                      <% if participating_event.user %>
                        <img src="https://res.cloudinary.com/dgw2zajw1/image/upload/v1654777807/noun-viking-4509158_lpqmuo.png" >
                        <% else %>
                        <img src="https://res.cloudinary.com/dgw2zajw1/image/upload/v1654696610/noun-viking-4509152_1_dgueon.png" >
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <div class="card-product-map w-auto d-flex flex-column">
        <div class="map-dashboard">
          <div style="width: 100%; height: 40vh;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
      <div class="mt-3 calendar">
        <%= week_calendar(attribute: :start_time, events: @participating_events) do |date, participating_events| %>
          <%= date %>
          <% participating_events.each do |participating_event| %>
            <div>
            <%= participating_event.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>




<%# console %>
