<%= render "shared/banner" %>

<h3>Evenements locaux à la carte</h3>

<% @last_events.each do |event| %>
<strong><%= link_to event.name, event_path(event) %>|</strong>
<% end %>

<p>ICI CODER LES CARDS</p>

<%= link_to "Voir toutes les activités", events_path%>
<%= link_to "Proposez une activité", new_event_path %>

<%= render "shared/buttons" %>
