<%= render "shared/banner" %>

<%# <% @last_events.each do |event| %>
<%# <strong><%= link_to event.name, event_path(event)</strong> %>
<%# <% end %>

<%= render "shared/cards" %>

<div class="text-center mb-6">
<%= link_to "Voir toutes les activités", events_path, class: "px-3 py-2 text-white rounded-pill bg-purple border-0 text-decoration-none text-center" %>
</div>
<%# <%= link_to "Proposez une activité", new_event_path %>
<%# <%= render "shared/buttons" %>
