<div class="container">
  <div class="row justify-content-center">
    <div class="form col-12">
      <div class="login-title">
        <h2>log in</h2>
        <div class="icones">
          <i id="pencil" class="fa-solid fa-pencil"></i>
          <i class="fa-solid fa-trash-can"></i>
        </div>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
        <div class="col-12">
          <div class="mb-3">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" },
                          label: "Email",
                          class: "form-label" %>
          </div>
          <div class="mb-3">
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" },
                          label: "Password" %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="mb-3">
            <%= f.button :submit, "Log in", class: "btn bg-purple" %>
          </div>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
